In [1]:
import psycopg2 as pg2
import pandas as pd

con = pg2.connect(host='this_postgres',
                  user='postgres',
                  password='password',
                  database='postgres')
con.autocommit = True
cur = con.cursor()

def select(sql):
    return pd.read_sql(sql,con)

Check running processes

In [2]:
sql = '''
SELECT pid , query, *
FROM pg_stat_activity pgsa
WHERE pid <> pg_backend_pid()
'''

In [3]:
df = select(sql)

In [4]:
df

,pid,query,datid,datname,pid,usesysid,usename,application_name,client_addr,client_hostname,...,xact_start,query_start,state_change,wait_event_type,wait_event,state,backend_xid,backend_xmin,query,backend_type
0,54,,NaN,None,54,NaN,None,,None,None,...,None,NaT,NaT,Activity,AutoVacuumMain,None,None,None,,autovacuum launcher
1,56,,NaN,None,56,10.0,postgres,,None,None,...,None,NaT,NaT,Activity,LogicalLauncherMain,None,None,None,,background worker
2,61,COMMIT,13075.0,postgres,61,10.0,postgres,,172.18.0.3,None,...,None,2021-05-06 20:44:42.033527+00:00,2021-05-06 20:44:42.035121+00:00,Client,ClientRead,idle,None,None,COMMIT,client backend
3,63,select * from hello_table t,13075.0,postgres,63,10.0,postgres,,172.18.0.3,None,...,None,2021-05-06 20:44:42.238753+00:00,2021-05-06 20:44:42.239197+00:00,Client,ClientRead,idle,None,None,select * from hello_table t,client backend
4,52,,NaN,None,52,NaN,None,,None,None,...,None,NaT,NaT,Activity,BgWriterMain,None,None,None,,background writer
5,51,,NaN,None,51,NaN,None,,None,None,...,None,NaT,NaT,Activity,CheckpointerMain,None,None,None,,checkpointer
6,53,,NaN,None,53,NaN,None,,None,None,...,None,NaT,NaT,Activity,WalWriterMain,None,None,None,,walwriter

Kill all

In [5]:
sql = '''
SELECT 
    pg_terminate_backend(pid) 
FROM 
    pg_stat_activity 
WHERE 
    -- don't kill my own connection!
    pid <> pg_backend_pid()

'''

In [7]:
cur.execute(sql)

In [8]:
df

,pid,query,datid,datname,pid,usesysid,usename,application_name,client_addr,client_hostname,...,xact_start,query_start,state_change,wait_event_type,wait_event,state,backend_xid,backend_xmin,query,backend_type
0,54,,NaN,None,54,NaN,None,,None,None,...,None,NaT,NaT,Activity,AutoVacuumMain,None,None,None,,autovacuum launcher
1,56,,NaN,None,56,10.0,postgres,,None,None,...,None,NaT,NaT,Activity,LogicalLauncherMain,None,None,None,,background worker
2,61,COMMIT,13075.0,postgres,61,10.0,postgres,,172.18.0.3,None,...,None,2021-05-06 20:44:42.033527+00:00,2021-05-06 20:44:42.035121+00:00,Client,ClientRead,idle,None,None,COMMIT,client backend
3,63,select * from hello_table t,13075.0,postgres,63,10.0,postgres,,172.18.0.3,None,...,None,2021-05-06 20:44:42.238753+00:00,2021-05-06 20:44:42.239197+00:00,Client,ClientRead,idle,None,None,select * from hello_table t,client backend
4,52,,NaN,None,52,NaN,None,,None,None,...,None,NaT,NaT,Activity,BgWriterMain,None,None,None,,background writer
5,51,,NaN,None,51,NaN,None,,None,None,...,None,NaT,NaT,Activity,CheckpointerMain,None,None,None,,checkpointer
6,53,,NaN,None,53,NaN,None,,None,None,...,None,NaT,NaT,Activity,WalWriterMain,None,None,None,,walwriter